%YAML 1.2
# CloudFlare change datacenter DNS updater script config.
---

# CloudFlare API key
# You can find this under My Settings -> Account after logging into CloudFlare.
cf_key: 'YOUR KEY HARE'

# Email address for your CloudFlare account.
cf_email: 'YOUR EMAIL HERE'

